@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

.title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: #F3ECE6;

    /* font-size: 16px;
    background: url('/background-form.png');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */


     /* background: linear-gradient(143.13deg, #E02427 12.04%, #F08121 65.22%);
     background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh; */
}

/* animation gradiant background body */
/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/* Gaya default untuk layar kecil */
.border-responsive {
    border: 1px solid transparent;
    /* Default border untuk layar kecil */
}

.responsive-font {
    font-size: 1rem;
    /* Ukuran font untuk layar kecil */
}

/* Gaya untuk layar lebih besar (desktop) */
@media (min-width: 768px) {
    .border-responsive {
        border: none;
        border-top: 0;
        /* Hilangkan border pada layar desktop */
    }

    .responsive-font {
        font-size: 3rem;
        /* Ukuran font untuk layar desktop */
    }

    .scroll-column {
        max-height: 80vh;
        overflow-y: auto;
    }
}

/* style background body */
.box {
    position: relative;

    .square {
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 15px;
        animation: square 10s linear infinite;
        animation-delay: calc(-1s * var(--i));
    }

    @keyframes square {

        0%,
        100% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }
    }

    .square:nth-child(1) {
        width: 100px;
        height: 100px;
        top: 15px;
        right: 45px;
    }

    .square:nth-child(2) {
        width: 150px;
        height: 150px;
        top: 190px;
        left: -40px;
        z-index: 2;
    }

    .square:nth-child(3) {
        width: 60px;
        height: 60px;
        bottom: 150px;
        right: -1px;

    }

    .square:nth-child(4) {
        width: 300px;
        height: 300px;
        top: 250px;
        left: 400px;
    }

    .square:nth-child(5) {
        width: 100px;
        height: 100px;
        bottom: 75px;
        left: 180px;
    }

    .square:nth-child(6) {
        width: 85px;
        height: 85px;
        top: 165px;
        right: -155px;
        z-index: 2;
    }
}

/* custom color btn */
.color-custom {
    color: #E17126;
}

.btn-custom {
    color: #fff;
    background-color: #E17126;
    border-color: #E17126;
}
.btn-custom:hover {
    color: #fff;
    background-color: #ECB151;
    border-color: #ECB151;
}
.btn-custom:focus, .btn-custom.focus {
    color: #fff;
    background-color: #ECB151;
    border-color: #ECB151;
    box-shadow: 0 0 0 0.2rem rgba(225, 113, 38, 0.5);
}
.btn-custom:active, .btn-custom.active, .show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #DBB67E;
    border-color: #DBB67E;
}
.btn-custom:active:focus, .btn-custom.active:focus, .show > .btn-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 113, 38, 0.5);
}

.btn-outline-custom {
    color: #E17126;
    background-color: transparent;
    border-color: #E17126;
}
.btn-outline-custom:hover {
    color: #fff;
    background-color: #E17126;
    border-color: #E17126;
}
.btn-outline-custom:focus, .btn-outline-custom.focus {
    color: #fff;
    background-color: #E17126;
    border-color: #E17126;
    box-shadow: 0 0 0 0.2rem rgba(225, 113, 38, 0.5);
}
.btn-outline-custom:active, .btn-outline-custom.active, .show > .btn-outline-custom.dropdown-toggle {
    color: #fff;
    background-color: #DBB67E;
    border-color: #DBB67E;
}
.btn-outline-custom:active:focus, .btn-outline-custom.active:focus, .show > .btn-outline-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 113, 38, 0.5);
}

#dropZone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font-size: 21pt;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #bbb;
}
